# Archivos y carpetas específicas de Android Studio
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/misc.xml
/.idea/modules
/.idea/runConfigurations.xml

# Archivos de construcción de Gradle
/.gradle/
/build/
/app/build/
/captures/
/output.json

# Archivos de configuración de Android
/com_android_support_animated_vector_drawable/
/com_android_support_support_compat/
/com_android_support_support_core_ui/
/com_android_support_support_core_utils/
/com_android_support_support_fragment/
/com_android_support_support_media_compat/
/com_android_support_support_transition/
/com_android_support_support_v4/
/com_android_support_support_vector_drawable/
/fabric.properties
/gradle.properties
/gradlew
/gradlew.bat
/AndroidDependencies.txt
/dependencies.txt


